<footer class="footer">
  <small>
    <a href="https://www.linkedin.com/pub/brian-jameson/1a/254/6">Brought to you by Brian Jameson</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://google.com/"</a>Placeholder Google</li>
    </ul>
  </nav>
</footer>