<footer class="footer">
  <small>
    <a href="https://github.com/BJam/check_me_out">Github</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://google.com/"</a>Google</li>
    </ul>
  </nav>
</footer>